<!DOCTYPE html><html>
<head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>Healthica.ai - Gain control over your health</title>
</head>
<body>

{{{ body }}}

</body>
</html>
